.classpath
.project
.pydevproject
.settings
.checkstyle
target
site-content
*.class
*.iml
*.ipr
*.iws
.idea
.DS_Store
.cache
*~
/.externalToolBuilders/
/maven-eclipse.xml
# Sphinx documentation
docs/_build/
